body {background-color: white;}

a {color: #303030; font-family: 'Helvetica', sans-serif; }
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt, div.CodeMirror pre {font-family:'Sauce Code Pro Light', monospace; font-size: 10pt;}

/* INTRO PAGE */
.toolbar_info {color: #4c4c4c; font-size: 12pt; border: 0; font-family: 'Helvetica', sans-serif; text-shadow: none !important; }
.list_container {color: #4c4c4c; font-size: 12pt; border: 0; font-family: 'Helvetica', sans-serif;text-shadow: none !important; }
.breadcrumb>li {text-shadow:0 0px 0; color:#4c4c4c; font-family: 'Helvetica', sans-serif; font-size: 12pt}
.list_container a {color: #4c4c4c; font-family: 'Helvetica', sans-serif; font-size: 12pt; border: 0; text-shadow: none !important; }
.item_icon {color: #ee8713;}

div.list_container a:hover {color: #ee8713;}
div#tree-selector.btn-group.dropdown {
      background-color: rgba(184, 184, 184, 0.10);
      background: rgba(184, 184, 184, 0.10);
}
.btn-group>.btn+.dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
}
div.list_container :hover {
    background-color: rgba(184, 184, 184, 0.05);
    color: #3a3a3a;
}
div.notebook_list_header {
    background: rgba(184, 184, 184, 0.05);
}
.dropdown-menu {
    background-color: #ececed;
    background: #ececed;
    /*border: thin solid #dbdbdb;*/
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style: outside none none;
    font-size: 10pt;
    text-align: left;
}
.dropdown-menu:hover{
    background-color: #ececed;
    /*border: thin solid #dbdbdb;*/
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 10pt;
    line-height: 1.42857;
    color: #2c2c2c;
    text-decoration: underline;
    white-space: nowrap;
}
.dropdown-menu > li > a {
    display: block;
    padding: none;
    clear: both;
    background-color: #ececed;
    background: #ececed;
    background-clip: padding-box;
    font-weight: normal;
    line-height: 1.42857;
    color: #2c2c2c;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover {
    background-clip: padding-box;
    color: #000000;
    padding: none;
    background: #dbdbdb;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 8px 0px;
    overflow: hidden;
    background-color: #dddddd;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #aaaaaa;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #f9f9f9;
    min-height: 16.4286px;
}
.modal-content {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #808080;
    border-radius: 3px;
    box-shadow: 0px 3px 9px #808080;
    background-clip: padding-box;
    outline: 0px none;
}
.panel {
    line-height: 22px;
    fontsize: 10px;
    margin-bottom: 18px;
    background-color: #f9f9f9;
    color: #2c2c2c;
    box-shadow: none;
}
#running .panel-group .panel .panel-heading {
    background-color: #f9f9f9;
    padding: 4px 7px;
    line-height: 22px;
}
#running .panel-group .panel .panel-heading a:hover {
    color: #ee8713;
}
#running .panel-group .panel .panel-body .list_container .list_item {
    border-bottom: 1px solid rgba(224, 224, 224, 0.55);
}
#project_name > .breadcrumb {
    font-weight: normal;
    color: #ee8713;

}
.rendered_html pre, .rendered_html code {
    font-size: 12pt;
    color: #2c2c2c;
    line-height: 100%;
    background: #dfdfdf;
}
body {
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.42857;
    color: #2c2c2c;
}
#kernel_indicator {
    float: right !important;
    color: #ee8713;
}
#kernel_indicator .kernel_indicator_name {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13pt;
}
#modal_indicator {
    float: right !important;
    color: #ee8713;

}
.CodeMirror pre {
  font-family: 'Hack', monospace;
  font-size: 13pt;
}

.notebook_app {
    background-color: white;
}
.notebook_app #header {
    box-shadow: none !important;
    background-color: #f9f9f9;
}
#notebook-container {
    padding: 15px;
    background-color: white;
    min-height: 0px;
    box-shadow: none;
}
#header {
    box-shadow: none;
    background-color: #f9f9f9;
    position: relative;
    z-index: 100;
}
#header-container {
    padding-bottom: 5px;
    display: none !important;
    box-shadow: none;
}
#header .header-bar {
    background: #f9f9f9;
}
/* text in output area (i.e. print some_list) */
div.output_html {color: #1e2429;}

/* Formatting code in text, code*/
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px #4c4c4c; solid;
  color: #4c4c4c;
  background-color: #f9f9f9 !important;
  align-content: left !important;
}
.navbar-default {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}
#menubar .navbar {
    border-top: 1px;
    border-radius: 0 0 2px 2px;
    margin-bottom: 0;
    margin-top: 8px;
}
.navbar-default .navbar-nav > li > a {
    color: #4c4c4c;
    font-size: 14pt;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000000;
    background-color: rgba(184, 184, 184, 0.15);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: rgba(184, 184, 184, 0.15);
}
.btn {
    color: #4c4c4c;
    background: #f9f9f9;
    font-size: 12pt;
    font-weight: normal;
    border: 0 none !important;
    box-shadow: none !important;
    text-shadow: none;
    vertical-align: 0px;
}

.btn-group > .btn-mini {
    color: #4c4c4c;
    background: #f9f9f9;
    font-size: 11pt;
    font-weight: normal;
    border: 0 none !important;
    box-shadow: none !important;
    text-shadow: none;
}
.btn:hover {
    color: #ee8713;
    background: #f9f9f9;
    background-color: #f9f9f9;
    background-image: none;
}
.btn-group > .btn-mini:hover {
    color: #ee8713;
    background: #f9f9f9;
    background-color: #f9f9f9;
    background-image: none;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.ipython_tooltip {
    border: 2px solid #4c4c4c;
    box-shadow: none;
    border-radius: 2px;
    position: absolute;
    z-index: 1000;
    background-color: #dddddd;
}

.ipython_tooltip .tooltiptext pre {
    border: 0px none;
    border-radius: 0px;
    background-color: #dddddd;
    color: #4c4c4c;
}
/* Formatting code in markdown cells */
div.text_cell_render {
    font-family: 'Helvetica', sans-serif;
    background: #ececed;
    font-weight: 310;
    color: #4c4c4c;
}
/* Formatting code in markdown cells */
div.text_cell_render pre {
    color: #4c4c4c;
    background-color: #ececed;
}
div.text_cell {
    max-width: 100%;
    color: #4c4c4c;
}
div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: 'Helvetica', sans-serif;
    background: #ececed;
    font-weight: 300;
    color: #4c4c4c;
    line-height: 80%;
}

/* text in output area (i.e. print some_list) */
div.output_html {color: #4c4c4c;}

/* Formatting code in text, code*/
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px #4c4c4c solid;
  color: #4c4c4c;
  background-color: #ececed !important;
  align-content: left !important;
}

button.close {
    padding: 0px;
    cursor: pointer;
    background: transparent none repeat scroll 0% 0%;
    border: 0px none;
}
.close {
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #3572C6;
    text-shadow: 0px 1px 0px rgba(53, 87, 120, 0.2);
    opacity: 0.3;
}
.close:hover {
    color: #3572C6;
    text-shadow: 0px 1px 0px rgba(53, 87, 120, 0.2);
    opacity: 0.9;
}
.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13pt;
    line-height: 1.6;
    color: #4c4c4c;
    background-color: #ececed;
    background-image: none;
    border: 1px solid rgba(53, 87, 120, 0.95);
    border-radius: 2px;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid rgba(184, 184, 184, 0.75);
}
.input-form-control:hover:active {
      background-color: rgba(184, 184, 184, 0.75);
      selected: rgba(184, 184, 184, 0.75);
}

span.ansiblack {color: #2b303b;}
span.ansiblue {color: #154ba1;}
span.ansigray {color: #b4b7b4;}
span.ansigreen {color: #2d6836;}
span.ansipurple {color: #483d8b;}
span.ansicyan {color: #1592a2;}
span.ansiyellow {color: #92a215;}
span.ansired {color: #b82a18;}

div.output_stderr {background-color: #DB797C;}
div.output_stderr pre {color: #000000;}

.cm-s-ipython.CodeMirror {background: white; color: #303030; font-size:10pt !important;}
.cm-s-ipython div.CodeMirror-selected {background: #D3D4D7 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #cccccc; border: 0px; border-radius:0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #666666 !important; font-size: 11pt;}
.cm-s-ipython .CodeMirror-cursor {border-left: 2px solid #0095ff !important;}
.cm-s-ipython span.cm-comment {color: #707070; font-style: italic !important;}
.cm-s-ipython span.cm-atom {color: #653bc5;}
.cm-s-ipython span.cm-number {color: #eb6a1a;}
.cm-s-ipython span.cm-property {color: #de143d;}
.cm-s-ipython span.cm-attribute {color: #de143d;}
.cm-s-ipython span.cm-keyword {color: #653bc5; font-weight: normal;}
.cm-s-ipython span.cm-string {color: #007f00; font-weight: normal;}
.cm-s-ipython span.cm-operator {color: #055be0; font-weight: normal;}
.cm-s-ipython span.cm-builtin {color: #de143d; font-weight: normal;}
.cm-s-ipython span.cm-variable {color: #000000;}
.cm-s-ipython span.cm-variable-2 {color: #de143d;}

.cm-s-ipython span.cm-def {color: #055be0; font-weight: normal;}
.cm-s-ipython span.cm-error {background: rgba(191, 97, 106, .3) !important;}
.cm-s-ipython span.cm-tag {color: #653bc5;}
.cm-s-ipython span.cm-link {color: #eb6a1a;}
.cm-s-ipython span.cm-storage {color: #055be0;}
.cm-s-ipython span.cm-entity {color: #de143d;}
.cm-s-ipython span.cm-class {color: #e22978;}
.cm-s-ipython span.cm-support {color: #de143d;}
.cm-s-ipython span.cm-qualifier {color: #de143d;}



div.CodeMirror span.CodeMirror-matchingbracket { color: #000000; background: rgba(53, 114, 198, .3); !important ; }
div.CodeMirror span.CodeMirror-nonmatchingbracket { color: #000000; background: rgba(191, 97, 106, .3) !important ; }
.cm-s-ipython .CodeMirror-matchingbracket { color: #000000; background: rgba(53, 114, 198, .3)  !important; }
.cm-s-ipython .CodeMirror-nonmatchingbracket { color: #000000; background: rgba(191, 97, 106, .3) !important; }


div.cell.selected { border: thin solid #dbdbdb; padding: 0px; border-radius: 0px; }
.edit_mode div.cell.selected {border: thin solid white !important; padding: 0px; border-radius: 0px; }
div.cell.edit_mode {border: thin solid white !important; padding: 0px; border-radius: 0px;}

div.prompt {
    padding: 0.3em;
    margin: 0px;
    font-family: monospace;
    text-align: left;
    line-height: 1.21429em;
    min-width: 11ex;
    font-size: 9.5pt;
}

div.input_area {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}
/*Input and output cells formatting*/
div.prompt.input_prompt {
    font-family: 'Hack', monospace;
    font-weight: bold;
    font-size: 9pt;
    color: #aaaaaa;
    background-color: white;
    width: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.prompt.output_prompt {
    font-family: 'Hack', monospace;
    font-weight: bold;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 9.5pt;
    width: 1em;
    margin-bottom: 8px;
    padding-top: 1em;
    padding-bottom: 1em;
}
div.out_prompt_overlay.prompt {
    font-family: 'Hack', monospace;
    font-weight: bold;
    font-size: 9.5pt;
    width: 1em;
    margin-bottom: 8px;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
div.out_prompt_overlay.prompt:hover {
    font-family: 'Hack', monospace;
    font-weight: bold;
    font-size: 9.5pt;
    width: 1em;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #ffffff;
    box-shadow: #ececed 2px 2px 6px 4px inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

div.output_wrapper {
    background-color:#ffffff;
    margin-bottom: 0em;
    margin-top: 0em;
    border: 0px;
}
div.output_subarea.output_text.output_stream.output_stdout,div.output_subarea.output_text {
    padding-top: 1em;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #ffffff;
    color: #000000;
}

div.output_area pre {
    color: #000000;
    font-size: 12pt;
}
div.output_subarea {
    overflow-x: auto;
    padding: 1.0em;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    flex: 1;
    max-width: calc(100% - 14ex);
}


div#header {
	display: none !important;
}
div#notebook{
	padding-top: 0px;
}

div.input_area{
	background:#ffffff;
	border:0px;
}
